<html>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
    <title>Vue Sample 1</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 因为 AJAX 库和通用工具的生态已经相当丰富，Vue 核心代码没有重复 -->
    <!-- 提供这些功能以保持精简。这也可以让你自由选择自己更熟悉的工具。 -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <style type="text/css">
        .red {
            color: red;
        }
        .blue {
            color: blue;
            font-size: 100px;
        }
        .active {
            background: #FF0000
        }
        .test {
            font-size: 30px
        }
        .green {
            color: #00FF00 
        }
    </style>
</head>

<body>
    <div id="app">
        <h3>Hello {{name}} {{message}}</h3>
    </div>

    <div id="app2">
        <h3>Hello {{name}} {{message}}</h3>
        <p>
            Ask a yes/no question:
            <input v-model="question">
        </p>
        <p>
            {{ answer }}
            <img v-bind:src="image_url" />
        </p>

    </div>

    <div id="app3">
        <h3>{{msg}}</h3>
    </div>

    <div id="app4">
        <p>Using mustaches: {{ rawHtml }} </p>
        <p>Using v-html directive: <span v-html="rawHtml"></span></p>
        <p v-html="rawHtml"></p>
        <div v-bind:id="dynamicId"></div>
        <div v-bind:class="color">test...</div>
        <p> {{ number + 1}} </p>
        <p> {{ ok ? 'YES' : 'NO' }} </p>
        <p> {{ message.split('').reverse().join('') }} </p>
        <p>Original message: "{{ message }}"</p>
        <p>Computed reversed message: "{{ reversedMessage }}"</p>
    </div>

    <div id="app5">
        <p v-if="seen">You can see me</p>
        <!-- 在这里 href 是参数，告知 v-bind 指令将该元素的 href 特性与表达式 url 的值绑定。-->
        <a v-bind:href="url">v-bind:href ...</a>
        <!-- attributeName，其值为 "href"，那么这个绑定将等价于 v-bind:href 
        <a v-bind:[attributeName]="url"> 参数表达式 ... </a>
        -->
        <div @click="click1">
            <div @click.stop="click2">
                click me
            </div>
        </div>
    </div>

    <div id="app6">
        <div
            v-bind:class="{ active: isActive, green: isGreen }"
            class="test"
            style="width:200px; height:200px; text-align:center; line-height:200px;">
            hi Vue
        </div>

        <div v-bind:style="{color: color, fontSize: size}">
            hi Vue
        </div>
    </div>

    <div id="app7">
        <div v-if="type === 'A'">A</div>
        <div v-else-if="type === 'B'">B</div>
        <div v-else-if="type === 'C'">C</div>
        <div v-else>Other</div>
        <!-- 带有 v-show 的元素始终会被渲染并保留在 DOM 中。v-show 只是简单地切换元素的 CSS 属性 display。 -->
        <h1 v-show="ok">Hello</h1>

        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address">
        </template>
        <button v-on:click="switchLoginType" key="email-input">Toggle login type</button>
    </div>

    <div id="app8">
        <ul>
            <li v-for="(item, index) in items" :key="index">
                {{ index }} {{ item.message }}
            </li>
        </ul>
        <ul>
            <li v-for="(value, name, index) in object" :key="key">
                {{ index }}. {{ name }} : {{ value }}
            </li>
        </ul>
    </div>

    <div id="todo-list-example">
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Add a todo</label>
            <input
                v-model="newTodoText"
                id="new-todo"
                placeholder="E.g. Feed the cat"
            >
            <button>Add</button>
        </form>
        <ul>
            <li
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:key="todo.id"
                v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"
            ></li>
        </ul>
    </div>

    <div id="app9">
        <div>
            <button v-on:click="counter += 1">counter: {{counter}}</button>
            <button v-on:click="func_great('abc', $event)">Great</button>
        </div>
        <div>
            事件修饰符
            <!-- 阻止单击事件继续传播 -->
            <a v-on:click.stop="doThis"></a>

            <!-- 提交事件不再重载页面 -->
            <form v-on:submit.prevent="onSubmit"></form>

            <!-- 修饰符可以串联 -->
            <a v-on:click.stop.prevent="doThat"></a>

            <!-- 只有修饰符 -->
            <form v-on:submit.prevent></form>

            <!-- 添加事件监听器时使用事件捕获模式 -->
            <!-- 即内部元素触发的事件先在此处理，然后才交由内部元素进行处理 -->
            <div v-on:click.capture="doThis">...</div>

            <!-- 只当在 event.target 是当前元素自身时触发处理函数 -->
            <!-- 即事件不是从内部元素触发的 -->
            <div v-on:click.self="doThat">...</div>
        </div>
    </div>

    <div id="app10">
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{message}}</p>
        <textarea v-model="message2" placeholder="add multiple lines"></textarea>
        <p style="white-space: pre-line">{{message2}}</p>

        <div>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>

        <div>
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <span>Picked: {{ picked }}</span>
        </div>

        <button type="button" @click="submit">Submit</button>
    </div>

    <div id="app11">
        <button-counter title="title1: " @clicknow="clicknow">
            <h2>hi ... h2</h2>
        </button-counter>
        <button-counter title="title2: "></button-counter>
    </div>

    <div id="app12">
        <button-counter2 title="title2: "></button-counter2>
        <test></test>
    </div>

    <script>
        var app = new Vue({
            // element, id选择器
            el: '#app',
            // 数据
            data: {
                name: 'Bob',
                message: ' to Vue' 
            }
        })

        /*
         *  绑定数据对象
         */
        data = {
            name: 'Name1',
            message: 'Message1',
            question: '',
            answer: 'I cannot give you an answer until you ask a question!',
            image_url: ''
        }
        var app2 = new Vue({
            // element, id选择器
            el: '#app2',
            // 数据
            data: data,
            watch: {
                // 如果 `question` 发生改变，这个函数就会运行
                question: function (newQuestion, oldQuestion) {
                    this.answer = 'Waiting for you to stop typing...'
                    this.debouncedGetAnswer()
                },
                name: function(newVal, oldVal) {
                    console.log(newVal, oldVal);
                }
            },
            created: function () {
                // `_.debounce` 是一个通过 Lodash 限制操作频率的函数。
                // 在这个例子中，我们希望限制访问 yesno.wtf/api 的频率
                // AJAX 请求直到用户输入完毕才会发出。想要了解更多关于
                // `_.debounce` 函数 (及其近亲 `_.throttle`) 的知识，
                // 请参考：https://lodash.com/docs#debounce
                this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
            },
            methods: {
                getAnswer: function () {
                if (this.question.indexOf('?') === -1) {
                    this.answer = 'Questions usually contain a question mark. ;-)'
                    return
                }
                this.answer = 'Thinking...';
                var vm = this;
                axios.get('https://yesno.wtf/api')
                    .then(function (response) {
                        vm.answer = _.capitalize(response.data.answer);
                        vm.image_url = response.data.image

                    })
                    .catch(function (error) {
                        vm.answer = 'Error! Could not reach the API. ' + error
                    });
                }
            }
        })

        /*
         *  变更监听器
         */
        app2.$watch('name', function(newVal, oldVal) {
            console.log(newVal, oldVal);
        })
        data.name = 'New-Name'

        /*
         * 生命周期
         */
        var app3 = new Vue({
            el: '#app3',
            data: {
                msg: "hi vue",
            },

            // 在实例初始化之后，数据观测(data observer)和event/watcher事件配置之前被调用
            beforeCreate: function() {
                console.log('beforeCreate');
            },

            // 在实例创建完成后被立即调用。在这一步，实例已经完成以下的配置：数据观测(data observer)，属性和方法的运算，event/watcher事件回调。然后挂载阶段还没开始，$el属性不可见。
            created: function() {
                console.log('created');
            },

            // 在挂载开始之前被调用：相关的渲染函数首次被调用
            beforeMount: function() {
                console.log('beforeMount');
            },

            // EL被新创建的 vm.$el 替换，挂载成功
            mounted: function() {
                console.log('mounted');
            },

            // 数据更新时调用
            beforeUpdate: function() {
                console.log('beforeUpdate');
            },

            // 组件DOM已经更新，组件更新完毕
            updated: function() {
                console.log('updated');
            },

            beforeDestroy: function() {
                console.log('beforeDestroy');
            },

            destroyed: function() {
                console.log('destroyed');
            },
        });

        setTimeout(function() {
            app3.msg = "change ......";
        }, 3000);
        
        /*
         * 模板语法-插值，为HTML绑定属性
         */
        var app4 = new Vue({
            // element, id选择器
            el: '#app4',
            // 数据
            data: {
                rawHtml: '<span style="color:red">this should be red</span>',
                dynamicId: 123,
                color: 'red',
                number: 10,
                ok: true,
                message: "Vue",
            },
            computed: {
                // 计算属性的 getter
                // 计算属性是基于它们的响应式依赖进行缓存的，只在相关响应式依赖发生改变时它们才会重新求值。
                reversedMessage: function() {
                    // `this` 指向 vm 实例
                    return this.message.split('').reverse().join('')
                }
            }
        })
        
		/*
         * 模板语法-指令
         */
        var app5 = new Vue({
            // element, id选择器
            el: '#app5',
            // 数据
            data: {
                seen: true,
                url: "https://cn.vuejs.org/v2/guide/"
            },
            methods: {
                click1: function() {
                    console.log('click1 ......');
                },
                click2: function() {
                    console.log('click2 ......');
                },
            }
        })
        
        /*
         * class与style绑定
         */
        var app6 = new Vue({
            // element, id选择器
            el: '#app6',
            // 数据
            data: {
                isActive: true,
                isGreen: true,
                color: '#FF0000',
                size: '50px'
            }
        })
        
        /*
         * 条件渲染
         */
        var app7 = new Vue({
            // element, id选择器
            el: '#app7',
            // 数据
            data: {
                type: "A",
                ok: true,
                loginType: 'username'
            },
            methods: {
                switchLoginType: function() {
                    if(this.loginType == 'username') {
                        this.loginType = 'email';
                    } else {
                        this.loginType = 'username';
                    }
                }
            }
        })

        /*
         * 列表渲染
         */
        var app8 = new Vue({
            // element, id选择器
            el: '#app8',
            // 数据
            data: {
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ],
                object: {
                    title: 'How to do lists in Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-01-01'
                }
            }
        })

        // 变异方法 (mutation method)
        // push() pop() shift() unshift() splice() sort() reverse()
        app8.items.push({ message: 'Baz' })
        // 替换数组
        app8.items = app8.items.filter(function (item) {
            return !item.message.match(/Foo/)
        })

        
        Vue.component('todo-item', {
            template: '\
                <li>\
                {{ title }}\
                <button v-on:click="$emit(\'remove\')">Remove</button>\
                </li>\
            ',
            props: ['title']
            })

        new Vue({
            el: '#todo-list-example',
            data: {
                newTodoText: '',
                todos: [
                {
                    id: 1,
                    title: 'Do the dishes',
                },
                {
                    id: 2,
                    title: 'Take out the trash',
                },
                {
                    id: 3,
                    title: 'Mow the lawn'
                }
                ],
                nextTodoId: 4
            },
            methods: {
                addNewTodo: function () {
                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                })
                this.newTodoText = ''
                }
            }
        })
        
        /*
         * 事件绑定
         */
        var app9 = new Vue({
            // element, id选择器
            el: '#app9',
            // 数据
            data: {
                counter: 0,
                name: "Vue"
            },
            methods: {
                func_great: function(str, event) {
                    alert(this.name);
                    alert(str);
                    console.log(event)
                }
            }
        })
        
        /*
         * 表单输入绑定
         */
        var app10 = new Vue({
            // element, id选择器
            el: '#app10',
            // 数据
            data: {
                message: "",
                message2: "",
                checkedNames: ['Mike'],
                picked: ''
            },
            methods: {
                submit: function() {
                    console.log(this.message);
                    var postObj = {
                        msg1: this.message,
                        msg2: this.message2,
                        names: this.checkedNames
                    }
                    console.log(postObj);
                }
            }
        })
        
        /*
         * 组件基础
         */
        Vue.component('button-counter', {
            props: [
                'title'
            ],
            data: function() {
                return {
                    counter: 0
                }
            },
            template: '\
                <div> \
                    <h1>Hi Vue</h1> \
                    <button v-on:click="clickfun">{{title}} You clicked me {{counter}} times.</button> \
                    <button v-on:click="counter++">{{title}} You clicked me {{counter}} times.</button> \
                    <slot></slot> \
                </div>',
            methods: {
                clickfun: function() {
                    this.counter++;
                    // 触发事件
                    this.$emit('clicknow', this.counter);
                }
            }
        })
        var app11 = new Vue({
            // element, id选择器
            el: '#app11',
            // 数据
            data: {

            },
            methods: {
                clicknow: function(e) {
                    console.log(e);
                }
            }
        })
        
        /*
         * 组件注册
         */
        Vue.component('button-counter2', {
            props: [
                'title'
            ],
            data: function() {
                return {}
            },
            template: '\
                <div> \
                    <h1>{{title}} Hi Vue ...</h1> \
                </div>',
            methods: {
            }
        })
        var app12 = new Vue({
            // element, id选择器
            el: '#app12',
            // 数据
            data: {

            },
            methods: {
                clicknow: function(e) {
                    console.log(e);
                }
            },
            components: {
                test: {
                    template: "<h2>h2 ....</h2>"
                }
            }
        })
    </script>
</body>

</html>